body {
	background-color: #151515;
	color: #fff;
	font-family: var(--font);
	margin: 0;
	padding: 20px;
}
#container {
	background-color: #151515;
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#labels {
	position: fixed;
	top: 150px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1; 
}

[contenteditable="true"]:focus {
	outline: none;
  }

:root {
	--font: 'JetBrains Mono', Jetbrains, monospace;
	--big-font-size: 26px;
	--big-font-weight: 700;
	--small-font-size: 16px;
	--small-font-weight: 500;
	--button-width: 170px;
	--button-height: 30px;
	--border-width: 2px;
	--checkbox-scale: 1;
}
@media (max-aspect-ratio: 1/1) {
	:root {
		--big-font-size: 40px;
		--big-font-weight: 800;
		--small-font-size: 22px;
		--small-font-weight: 700;
		--button-width: 250px;
		--button-height: 75px;
		--border-width: 4px;
		--checkbox-scale: 1.5;
	}
}

input[type="checkbox"] {
	transform: scale(var(--checkbox-scale));
	transform-origin: left center;
	margin-right: calc(8px * var(--checkbox-scale));
}

.dropdowns_container
{
	/*translate: 40px;*/
	display: block;
	position: relative;
}

.right_group {
	position: absolute;
	display: inline-flex;
	align-items: center;
	right: 40px;
	gap: 10px;
	z-index: 1;
}

@media (max-aspect-ratio: 1/1) {
	.right_group {
		position: absolute;
		display: inline-flex;
		align-items: center;
		bottom: 40px;
		right: auto;
		gap: 10px;
		z-index: 1;
	}
}

.dropdown_right {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.main_checkbox
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	cursor: pointer;
	background-color: #bbff00;
	font-family: var(--font);
	color: rgb(255, 0, 100);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	width: var(--button-width);
	height: var(--button-height);
}
label[for="groupSells"] {
	cursor: pointer;
}

.big_checkbox
{
	border: none;
	cursor: pointer;
	background-color: #bbff00;
	font-family: var(--font);
	color: rgb(255, 0, 100);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	width: var(--button-width);
	height: var(--button-height);
}

.big_checkbox:hover{
	color: #bbff00;
	background-color: rgb(255, 0, 100);
}
label[for="enableFilters"] {
	margin-left: -10px;
	cursor: pointer;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown_button
{
	display: block;
	border: none;
	cursor: pointer;
	background-color: #bbff00;
	font-family: var(--font);
	color: rgb(255, 0, 100);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	width: var(--button-width);
	height: var(--button-height);
	z-index: 1;
}

.dropdown_button_simple {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	background-color: #bbff00;
	font-family: var(--font);
	color: rgb(255, 0, 100);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	width: var(--button-width);
	height: var(--button-height);
	z-index: 1;
}

.dropdown_nested_button
{
	border: none;
	display: block;
	position: relative;
	background-color: #bbff00;
	text-align: left;
	font-family: var(--font);
	color: rgb(255, 0, 100);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	width: var(--button-width);
	height: var(--button-height);
	z-index: 1;
}

.dropdown_nested_button:hover
{
	background-color: rgb(255, 0, 100);
	color: #bbff00;
}

.dropdown_list
{
	display: none;
	position: absolute;
	z-index: 1;
}
/*
.dropdown_button:hover + .dropdown_list,
.dropdown_list:hover {
	display: block;
}

.no_hover .dropdown_button:hover + .dropdown_list,
.no_hover .dropdown_list:hover {
    display: none;
}
*/

.dropdown_list.active {
	display: block;
}

.dropdown_button_simple:hover + .dropdown_list_simple,
.dropdown_list_simple:hover {
	display: block;
	
}

.dropdown_nested_button:hover + .dropdown_nested_list,
.dropdown_nested_list:hover {
	display: block;
}

.dropdown_nested_list {
	display: none;
	position: absolute;
	translate: 0 -32px;
	left: 100%;
	z-index: 1;
}

.dropdown_list_simple {
	display: none;
	position: absolute;
	
	z-index: 1;
}
@media (max-aspect-ratio: 1/1) {
	.dropdown_list_simple {
		bottom: calc(var(--button-height));
	}
}

.dropdown_list_simple label {
	display: flex;
	cursor: pointer;
	width: var(--button-width);
	height: var(--button-height);
	background-color: #bbff00;
	color: rgb(255, 0, 100);
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	align-items: center;
	padding-left: 5px;
}

.dropdown_list_simple label:hover {
	background-color: rgb(255, 0, 100);
	color: #bbff00
}

.dropdown_nested_list_label {
	display: flex;
	cursor: pointer;
	width: var(--button-width);
	height: var(--button-height);
	background-color: #bbff00;
	color: rgb(255, 0, 100);
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	width: calc(var(--button-width) + 9px);
	margin: auto;
	align-items: center
}


.dropdown_nested_list_label > input
{
	background-color: rgb(0, 255, 100);
	color: aquamarine;
}

.dropdown_nested_list_label:hover {
	background-color: rgb(255, 0, 100);
	color: #bbff00;
}

.bar_line { 
	display: flex;
	align-items: stretch;
	height: var(--button-height);
}

.bar {
	width: calc(var(--button-width) * 3 + 19px);
	display: inline-flex;
	border: var(--border-width) solid #bbff00;
	border-top: none;
	height: 100%;
	box-sizing: border-box;
}

.bar_header_arrow {
	padding-left: 10px;
	background-color: #151515;
	cursor: pointer;
	align-items: center;
	color: rgb(255, 0, 100);
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	display: inline-flex;
	align-items: center;
	height: 100%
}

.bar_header_text {
	display: inline-flex;
	align-items: center;
	margin-left: 20px;
	background-color: #151515;
	cursor: pointer;
	color: rgb(255, 0, 100);
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	height: 100%;
}

.bar:hover {
	border-color: rgb(255, 0, 100);
}

.bar_button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: var(--border-width) solid #bbff00;
	cursor: pointer;
	background-color: #151515;
	font-family: var(--font);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	color: rgb(255, 0, 100);
	width: var(--button-height);
	height: var(--button-height);
	box-sizing: border-box;
}

.bar_button:hover {
	border-color: rgb(255, 0, 100);
}

.texture_container {
	display: flex;
	align-items: center;
	white-space: nowrap;
	width: var(--button-width);
	height: var(--button-height);
	position: relative;
}
.texture_preview {
	display: flex;
	width: var(--button-height);
	height: var(--button-height);
	background-size: cover;
	cursor: default;
	background-color: #bbff00;
}

.image_big_label {
	display: flex;
	align-items: center;
	cursor:default;
	margin: auto;
	height: var(--button-height);
	width: calc(var(--button-width) - var(--button-height));
	font-family: var(--font);
	font-size: var(--big-font-size);
	font-weight: var(--big-font-weight);
	background-color: #bbff00;
	color: rgb(255, 0, 100);
}

.image_label {
	display: flex;
	cursor:default;
	margin: auto;
	padding-left: 5px;
	height: var(--button-height);
	width: calc(var(--button-width) - var(--button-height));
	font-family: var(--font);
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	background-color: #bbff00;
	color: rgb(255, 0, 100);
	align-items: center;
}


.image_label:hover{
	color: #bbff00;
	background-color: rgb(255, 0, 100);
}
.texture_preview:hover + .image_label{
	color: #bbff00;
	background-color: rgb(255, 0, 100);
}

.texture_container:hover + .dropdown_nested_list,
.dropdown_nested_list:hover{
	display: block;
}

.white_label{
	font-size: var(--small-font-size);
	font-weight: var(--small-font-weight);
	color: rgb(255, 2550, 255);
}